<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.magnulund.dev.movementlog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <permission-group
        android:name="se.magnulund.permission-group.MOVEMENT_LOG"
        android:description="@string/perm_gr_desc"
        android:icon="@drawable/ic_launcher"
        android:label="@string/perm_gr_lbl"
        android:permissionGroupFlags="personalInfo" />

    <permission
        android:name="se.magnulund.permission.READ_DATA_LOG"
        android:description="@string/perm_read_desc"
        android:label="@string/perm_read_lbl"
        android:permissionGroup="se.magnulund.permission-group.MOVEMENT_LOG"
        android:protectionLevel="signature" />
    <permission
        android:name="se.magnulund.permission.CONTROL_SERVICE"
        android:description="@string/perm_read_desc"
        android:label="@string/perm_read_lbl"
        android:permissionGroup="se.magnulund.permission-group.MOVEMENT_LOG"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="se.magnulund.permission.READ_DATA_LOG" />
    <uses-permission android:name="se.magnulund.permission.CONTROL_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.magnulund.dev.movementlog.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.magnulund.dev.movementlog.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="se.magnulund.dev.movementlog.providers.MovementDataProvider"
            android:authorities="se.magnulund.dev.movementlog.providers"
            android:enabled="true"
            android:exported="true"
            android:permission="se.magnulund.permission.READ_DATA_LOG" />

        <service
            android:name="se.magnulund.dev.movementlog.services.TripRecognitionIntentService"
            android:enabled="true"
            android:exported="true"
            android:permission="se.magnulund.permission.CONTROL_SERVICE"
            android:process=":services" />

        <service
            android:name="se.magnulund.dev.movementlog.services.ActivityRecognitionService"
            android:enabled="true"
            android:exported="true"
            android:permission="se.magnulund.permission.CONTROL_SERVICE"
            android:process=":services" />
        <service
            android:name="se.magnulund.dev.movementlog.services.LocationLogIntentService"
            android:enabled="true"
            android:exported="true"
            android:permission="se.magnulund.permission.CONTROL_SERVICE"
            android:process=":services" />

    </application>

</manifest>
