<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.magnulund.dev.movementlog"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <permission-group android:name="se.magnulund.permission-group.MOVEMENT_LOG"
        android:label="@string/perm_gr_lbl"
        android:description="@string/perm_gr_desc"
        android:permissionGroupFlags="personalInfo"
        android:icon="@drawable/ic_launcher"
       />
    <permission android:name="se.magnulund.permission.READ_DATA_LOG"
        android:permissionGroup="se.magnulund.permission-group.MOVEMENT_LOG"
        android:label="@string/perm_read_lbl"
        android:protectionLevel="signature"
        android:description="@string/perm_read_desc"/>

    <permission android:name="se.magnulund.permission.CONTROL_SERVICE"
        android:permissionGroup="se.magnulund.permission-group.MOVEMENT_LOG"
        android:label="@string/perm_read_lbl"
        android:protectionLevel="signature"
        android:description="@string/perm_read_desc"/>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="se.magnulund.permission.READ_DATA_LOG"/>
    <uses-permission android:name="se.magnulund.permission.CONTROL_SERVICE"/>
       

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="se.magnulund.dev.movementlog.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.magnulund.dev.movementlog.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".triprecognition.TripRecognitionIntentService"
            android:enabled="true"
            android:exported="true"
            android:process=":services"
            android:permission="se.magnulund.permission.CONTROL_SERVICE"/>

        <provider
            android:name="se.magnulund.dev.movementlog.providers.MovementDataProvider"
            android:authorities="se.magnulund.dev.movementlog.providers"
            android:enabled="true"
            android:exported="true"
            android:permission="se.magnulund.permission.READ_DATA_LOG"/>

        <service
            android:name=".services.ActivityRecognitionService"
            android:enabled="true"
            android:exported="true"
            android:process=":services"
            android:permission="se.magnulund.permission.CONTROL_SERVICE"/>

    </application>

</manifest>
